:root{
    --border-size: 0px;
    --icon-size: 25px;
    --content-font-size: 18px;
    --icon-alignment: left;
    --hover-color: #f7f5f4;
    --border-color: #e7e4e2;
    --background-color: #f7f5f4;
    --divider-color: #e7e4e2;
    --divider-hover-color: #e7e4e2;
    --icon-color: #000000;
    --title-color: #000000;
    --content-color: #333c4e;
    --icon-box-color: #333333;
    --toggle-hover-accent-color: #ffc510;
    --title-font-family: "Montserrat";
    --title-font-weight: 700;
    --title-font-style: normal;
    --title-font-size: 15px;
    --title-line-height: 1.2;
    --content-font-family: "Montserrat";
    --content-font-style: normal;
    --content-font-weight: 400;
}

html{
    display: flex;
}

body{
    display: block;
}

.logo {
    margin-right: 0px;
    margin-top: 5px;
}

.nav_Bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0;
}

.nav_Button {
    border: 0;
    padding: 20px 70.69px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    margin-top: 5px;
    align-self: right;
}

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: white;
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


.news{
    display: flex;
    margin-top: 0px;
}

.main_News{
    height: 650px;
    width: 650px;
    margin-top: 47px;
    margin-left: 100px;
    background-color: #ffd520;
    border: 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.main_News_Img{
    display: flex;
    min-height: 500px;
    max-height: 500px;
    min-width: 650px;
    max-width: 650px;
    border-radius: 10px;
}

.main_News_Text_Box{
    display: flex;
    height: 250px;
    width: 600px;
    background-color: #ffd520;
    border-radius: 10px
}

.main_News_Main_Text{
    font-family: var(--content-font-family);
}

.main_News_Sub_Text{
    font-family: var(--content-font-family);
}

.main_News_Date_Text{
    font-family: var(--content-font-family);
}

.sub_News_Holder{
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: scroll;
    height: 650px;
    margin-top: 47px;
    margin-left: 150px;
    border-radius: 10px;
}

.sub_News{
    min-height: 310px;
    max-height: 310px;
    min-width: 350px;
    max-width: 350px;
    margin-bottom: 22px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: #ffd520;
    border: 0;
    display: flex;
    flex-direction: column;
}

.sub_News_Img{
    display: flex;
    min-height: 210px;
    max-height: 210px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 10px;
}

.sub_News_Text_Box{
    display: flex;
    height: 100px;
    width: 350px;
    border-radius: 10px;
    background-color: #ffd520;
}

.sub_News_Text{

}

.schools{
    display: flex;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    width: 1103px;
    background-color: red;
    flex-wrap: wrap;
}

.school_Row{
    display: flex;
    width: 1103px;
    height: 250px;
    padding: 0;
    justify-content: space-between;
}

.isnt_landing_wrapper {
   background-color: black;
   padding-bottom: 5px;
}

.hexagons_Are_The_Bestagons{
    background-image: url("assets/hexagon.png");
    background-size: 90%;
    background-repeat: repeat-x;
    min-height: 200px;
}

.school_Button{
    background-image: url("assets/logo.png");
    background-size: 100%;
    cursor: crosshair;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 200px;
    width: 200px;
    display: flex;
}

a{
    display: block;
}

.nav_Button_Text {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.02em !important;
    font-weight: 400;
    color: white;
    transition: color 0.3s ease-in;
}

.nav_Button_Text:hover{
    color: #ffd520;
    transition: color 0.2s ease-out;
}

.stat_Menu{
    margin-left: 100px;
    margin-top: 20px
}

.port{
    margin-right: 5%;
}

.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 0px
}

.stat_Box{
    height: 500px;
    width: 250px;
    margin-left: 0px;
    margin-top: 50px;
    background-image: url("assets/fabu.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
}

.stats_Top{
    justify-content: space-evenly;
    width: 400px;
}

.stats_Middle{
    justify-content: space-evenly;
    width: 400px;
}

.stats_Bottom{
    justify-content: space-evenly;
    width: 400px;
}

.stat_Text{
    display: flex;
    flex-direction: column;
}

.stat_Title_Text{
    display: flex;
    font-size: 26px;
    color: white;
    font-family: var(--content-font-family);
}

.stat_Player{
    display: flex;
    color:white;
    font-size: 18px;
    font-family: var(--content-font-family);
    margin-top: 20px;
}

.stat_Sub_Text{
    display: flex;
    color: white;
    font-family: var(--content-font-family);
    margin-top: 5px;
    margin-bottom: 5px
}

.draw_Drops{
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 350px;
    height: 30px;
    justify-content: space-between;
    background-color: white;
}

.draw_Drop_Set{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    align-items:center;
}

.draw_Drop{
    display: flex;
    border: 0;
    background-color:#ffffff;
    transition: color 0.2s;
    font-family: var(--content-font-family);
    font-size: 16px;
    height: 20px;
}

.draw_Label{
    display: flex;
    font-family: var(--content-font-family);
    font-size: 16px;
    margin-right: 5px;
}

.draw_Drop:hover{
    color: var(--toggle-hover-accent-color);
    transition: color 0.2s
}

.draw_Holder{
    display: flex;
    margin-left: 250px;
    margin-bottom: 100px;
    flex-direction: column;
}

.draw_Main{
    display: flex;
    margin-bottom: 50px;
    height: 350px;
    width: 850px;
    background-color: #f4f4f4;
    flex-direction: column;
}

.draw_Date{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
    margin-top: 10px
}

.draw_Schools{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    align-self: center;
    width: 500px;
    justify-content: space-between;
}

.draw_School{
    display: flex;
    flex-direction: column;
}

.draw_School_Logo{
    display: flex;
    max-height: 150px;
    max-width: 150px;
}

.draw_School_Name{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
}

.draw_Venue{
    display: flex;
    align-self: center;
    margin-top: 30px;
    font-family: var(--content-font-family);
}

.draw_Bottom{
    display: flex;
    align-self: center;
    margin-top: 30px;
    justify-content: space-between;
    width: 200px;
}

.draw_Tip{
    display: flex;
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
    font-family: var(--content-font-family);
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.draw_Tip:hover{
    transition: color 0.3s;
    color: var(--toggle-hover-accent-color);
}

.draw_Media{
    display: flex;
    width: 60px;
    height: 30px;
    background-color: black;
    color: white;
    font-family: var(--content-font-family);
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.draw_Media:hover{
    transition: color 0.3s;
    color: var(--toggle-hover-accent-color);
}

.ladder_Table_Row{
    border: 2px black solid;
    border-collapse: collapse;
    justify-content: center;
    align-content: center;
}

.ladder_Table_Data{
    border: 2px black solid;
    border-collapse: collapse;
    min-width: 60px;
    height: 25px;
    text-align: center;
    text-justify: center;
    padding: 0px 10px;
}

.ladder_Table_School_Data{
    border: 2px black solid;
    border-collapse: collapse;
    min-width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px 10px;
}

.ladder_Table{
    border: 2px black solid;
    border-collapse: collapse;
    justify-self: center;
    font-family: var(--content-font-family);
    font-size: 26px;
}

.ladder_Table_Logo{
    max-height: 40px;
    max-width: 40px;
}

.tipping_Holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
    background-color: white;
    padding: 20px;
    justify-content: space-evenly;
}

.tipping_Main{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 350px;
    background-color:#e9e9e9;
    align-self: center;
    border-radius: 20px;
}

.tipping_Date_Time{
    display: flex;
    align-self: center;
    margin-top: 10px;
    flex-direction: row;
    width: 250px;
    justify-content: space-evenly;
}

.tipping_Date{
    display: flex;
    font-family: var(--content-font-family);
    align-self: center;
}

.tipping_Time{
    display: flex;
    font-family: var(--content-font-family);
    align-self: center;
}

.tipping_Middle{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--content-font-family);
}

.tipping_Team{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tipping_Logo{
    max-height: 150px;
}

.tipping_Percentage{
    display: flex;
}

.tipping_Circle{
    display: flex;
}

.tipping_Checkbox{
    display: flex;
}
















.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .montserrat-content {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }