:root{
    --border-size: 0px;
    --icon-size: 25px;
    --content-font-size: 18px;
    --icon-alignment: left;
    --hover-color: #f7f5f4;
    --border-color: #e7e4e2;
    --background-color: #f7f5f4;
    --divider-color: #e7e4e2;
    --divider-hover-color: #e7e4e2;
    --icon-color: #000000;
    --title-color: #000000;
    --content-color: #333c4e;
    --icon-box-color: #333333;
    --toggle-hover-accent-color: #ffd520;
    --title-font-family: "Montserrat";
    --title-font-weight: 700;
    --title-font-style: normal;
    --title-font-size: 15px;
    --title-line-height: 1.2;
    --content-font-family: "Montserrat";
    --content-font-style: normal;
    --content-font-weight: 400;
    --dark-grey: #e9e9e9;
    --darker-grey: #c1c1c1;
    --darkest-grey: #919191;
}

html{
    display: flex;
    font-family: var(--content-font-family)
}

body{
    display: block;
}

.logo {
    height: 10vh;
    width: 10vh;
}

.isnt_landing_wrapper {
    background-color: black;
 }

.nav_Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5vh;
    height: 10vh;
}

.nav_Buttons{
    justify-content: space-evenly;
    width: 52vw;
    display: flex;
    flex-direction: row;
}

.nav_Button{
    border: 0;
    color: white;
    text-align: center;
    display: flex;
    font-size: 2.6vh;
    margin-top: 5px;
}

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: white;
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


.news{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15vh;
}

.main_News{
    height: 40vw;
    width: 40vw;
    background-color: var(--toggle-hover-accent-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 6px 6px 10px var(--darker-grey);
    transition: box-shadow 0.3s;
}

.main_News:hover{
    box-shadow: 8px 8px 10px var(--darkest-grey);
    transition: box-shadow 0.3s;
    .main_News_Img{
        background-size: 125%;
        transition: background-size 0.3s;
    }
}

.main_News_Img{
    display: flex;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vw;
    width: 40vw;
    border-radius: 10px;
    transition: background-size 0.3s;
}

.main_News_Text_Box{
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: 40vw;
    background-color: var(--toggle-hover-accent-color);
    border-radius: 10px
}

.main_News_Main_Text{
    font-family: var(--content-font-family);
    font-weight: 700;
    font-size: 4vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-top: 0.5vh;
}

.main_News_Sub_Text{
    font-family: var(--content-font-family);
    margin-bottom: 1vh;
    margin-left: 1vh;
}

.main_News_Date_Text{
    font-family: var(--content-font-family);
    color: var(--darkest-grey);
    align-self: end;
    margin-right: 1vh;
}

.sub_News_Holder{
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: visible;
    height: 40vw;
    border-radius: 10px;
}

.sub_News{
    height: 19.5vw;
    width: 25vw;
    margin-bottom: 1vw;
    margin-left: 0px;
    border-radius: 10px;
    background-color: var(--toggle-hover-accent-color);
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 10px var(--darker-grey);
    transition: box-shadow 0.3s;
}

.sub_News:hover{
    box-shadow: 8px 8px 10px var(--darkest-grey);
    transition: box-shadow 0.3s;
    .sub_News_Img{
        background-size: 120%;
        transition: background-size 0.3s;
    }
}

.sub_News_Img{
    display: flex;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    height: 14vw;
    width: 25vw;
    border-radius: 10px;
    transition: background-size 0.3s;
}

.sub_News_Text_Box{
    display: flex;
    height: 5.5vw;
    width: 25vw;
    border-radius: 10px;
    background-color: var(--toggle-hover-accent-color);
    flex-direction: column;
}

.sub_News_Text{
    font-family: var(--content-font-family);
    font-weight: 650;
    font-size: 3vh;
    margin-bottom: 2.8vh;
    margin-left: 1vh;
    margin-top: 0.5vh;
}

.sub_News_Date{
    font-family: var(--content-font-family);
    color: var(--darkest-grey);
    align-self: end;
    margin-right: 1vh;
}

.schools{
    display: flex;
    justify-self: center;
    height: 60vh;
    width: 77vw;
    flex-wrap: wrap;
    background-color: var(--dark-grey);
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 2vh;
}

.school_Row{
    display: flex;
    width: 72vw;
    height: 30vh;
    justify-content: space-between;
}

.hexagons_Are_The_Bestagons{
    background-image: url("assets/hexagon.png");
    background-size: 70vw;
    background-repeat: repeat-x;
    height: 20vh;
}

.school_Button{
    background-size: 95%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 22vh;
    width: 22vh;
    display: flex;
    transition: background-size 0.5s;
}

.school_Button:hover{
    background-size: 100%;
    transition: background-size 0.5s;
}

a{
    display: block;
}

.nav_Button_Text {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.02em !important;
    font-weight: 400;
    color: white;
    transition: color 0.3s ease-in;
}

.nav_Button_Text:hover{
    color: var(--toggle-hover-accent-color);
    transition: color 0.2s ease-out;
}

.stat_Menu{
    margin-left: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.port{
    margin-right: 3vw;
    font-family: var(--content-font-family);
    border: 0;
    font-size: 2.5vh;
    transition: color 0.2s;
}

.port:hover{
    color: var(--toggle-hover-accent-color);
    transition: color 0.15s;
}

.port_Label{
    font-size: 2.5vh;
}

.sport{
    font-family: var(--content-font-family);
    border: 0;
    font-size: 2.5vh;
}

.sport_Label{
    font-size: 2.5vh;
}

.stats{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vw;
    height: 200vh;
    margin-bottom: 15vh;
}

.stat_Box{
    height: 60vh;
    width: 20vw;
    background-image: url("assets/dom.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    border: 1px black solid;
}

.stats_Top{
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
}

.stats_Middle{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

.stats_Bottom{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

.stat_Text{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 17vw;
    height: 15vh;
    font-family: var(--content-font-family);
    border-top-right-radius: 8vh;
    position: relative;
}

.stat_Title_Text{
    display: flex;
    font-size: 3vh;
    margin-top: 0.5vh;
    font-weight: 700;
    margin-bottom: 0.5vh;
    margin-left: 0.5vh;
}

.stat_Player{
    display: flex;
    font-size: 3vh;
    margin-bottom: 2.5vh;
    font-weight: 400;
    margin-left: 0.5vh;
}

.stat_Sub_Text{
    display: flex;
    position: absolute;
    bottom: 1vh;
    right: 2vh;
    font-size: 4vh;
    font-weight: 700;
    margin-left: 0.5vh;
    color: var(--toggle-hover-accent-color)
}

.stat_Age_Group{
    margin-left: 0.5vh;
    font-weight: 150;
}

.draw_Drops{
    display: flex;
    margin-left: 13vw;
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 40vw;
    justify-content: space-between;
    background-color: white;
}

.draw_Drop_Set{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    align-items:center;
}

.draw_Drop{
    display: flex;
    border: 0;
    background-color:#ffffff;
    transition: color 0.2s;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
}

.draw_Label{
    display: flex;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
    margin-right: 5px;
}

.draw_Drop:hover{
    color: var(--toggle-hover-accent-color);
    transition: color 0.2s
}

.draw_Holder{
    display: flex;
    flex-direction: column;
    height: 130vh;
    align-items: center;
}

.draw_Main{
    display: flex;
    margin-bottom: 50px;
    height: 55vh;
    width: 70vw;
    background-color: #e9e9e9;
    flex-direction: column;
    border-radius: 4vh;
    font-size: 3vh;
}

.draw_Date{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
    margin-top: 1vh;
}

.draw_Schools{
    display:flex;
    flex-direction: row;
    margin-bottom: 5vh;
    margin-top: 1vh;
    align-self: center;
    width: 50vw;
    justify-content: space-between;
}

.draw_School{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vh;
    text-align: center;
}

.draw_School_Logo{
    display: flex;
    height: 26vh;
    width: 26vh;
    align-self: center
}

.draw_School_Name{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
    font-size: 3vh;
    font-weight: 600;
}

.draw_Venue{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
    font-weight: 200;
}

.draw_Bottom{
    display: flex;
    align-self: center;
    margin-top: 2vh;
    justify-content: space-between;
    width: 20vw;
}

.draw_Tip{
    display: flex;
    width: 5vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-family: var(--content-font-family);
    align-items: center;
    justify-content: center;
    transition: color 0.15s;
    font-size: 2.5vh;
    text-decoration: none;
    font-weight: 200;
}

.draw_Tip:hover{
    transition: color 0.15s;
    color: var(--toggle-hover-accent-color);
}

.draw_Media{
    display: flex;
    width: 5vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-family: var(--content-font-family);
    align-items: center;
    justify-content: center;
    transition: color 0.15s;
    font-size: 2.5vh;
    text-decoration: none;
    font-weight: 200;
}

.draw_Media:hover{
    transition: color 0.15s;
    color: var(--toggle-hover-accent-color);
}

.ladder_Drops{
    display: flex;
    margin-left: 14vw;
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 40vw;
    justify-content: space-between;
    background-color: white;
}

.ladder_Drop_Set{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    align-items:center;
}

.ladder_Drop{
    display: flex;
    margin-right: 2vw;
    background-color:#ffffff;
    border: 0;
    transition: color 0.2s;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
}

.ladder_Label{
    display: flex;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
    margin-right: 1vh;
    flex-wrap: nowrap;
}

.ladder_Drop:hover{
    color: var(--toggle-hover-accent-color);
    transition: color 0.2s
}

.ladder_Table_Row{
    border: 2px black solid;
    border-collapse: collapse;
    justify-content: center;
    align-content: center;
}

.ladder_Table_Data{
    border: 2px black solid;
    border-collapse: collapse;
    min-width: 5vw;
    height: 5vh;
    text-align: center;
    text-justify: center;
    padding: 0px 10px;
}

.ladder_Table_School_Data{
    border: 2px black solid;
    border-collapse: collapse;
    width: 12vw;
    height: 5vh;
    text-align: center;
    text-justify: center;
    padding: 0px 0px;
}

.ladder_Table{
    border: 2px black solid;
    border-collapse: collapse;
    justify-self: center;
    font-family: var(--content-font-family);
    font-size: 26px;
}

.ladder_Table_Logo{
    height: 7vh;
    width: 7vh;
    justify-content: center;
    align-content: center;
    display: inline-block;
    margin: auto;
}

.tipping_Drops{
    display: flex;
    margin-left: 13vw;
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 40vw;
    justify-content: space-between;
    background-color: white;
    flex-direction: row;
}

.tipping_Drop_Set{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    align-items:center;
}

.tipping_Drop{
    display: flex;
    margin-right: 2vw;
    background-color:#ffffff;
    border: 0;
    transition: color 0.2s;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
}

.tipping_Label{
    display: flex;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
    margin-right: 1vh;
    flex-wrap: nowrap;
}

.tipping_Drop:hover{
    color: var(--toggle-hover-accent-color);
    transition: color 0.2s
}

.tipping_Holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160vh;
    align-items: center;
    justify-content: space-evenly;
}

.tipping_Main{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 75vw;
    background-color:#e9e9e9;
    align-self: center;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
}

.tipping_Date_Time{
    display: flex;
    align-self: center;
    margin-top: 10px;
    flex-direction: row;
    width: 250px;
    justify-content: space-evenly;
}

.tipping_Date{
    display: flex;
    font-family: var(--content-font-family);
    align-self: center;
}

.tipping_Time{
    display: flex;
    font-family: var(--content-font-family);
    align-self: center;
}

.tipping_Middle{
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    font-family: var(--content-font-family);
}

.tipping_Team{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 500;
    width: 20vh;
    flex-wrap: wrap;
}

.tipping_Logo{
    height: 20vh;
    width: 20vh;
}

.tipping_Percentage{
    display: flex;
    font-size: 2.2vh;
    font-weight: 200;
}

.tipping_Circle{
    display: flex;
    height: 20vh;
    width: 20vh;
}

.tipping_Checkbox{
    display: flex;
    height: 5vh;
    width: 5vh;
    border: 0.2vh black solid;
}

.school_Drops{
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    border: 0;
}

.school_Drop_Label{
    font-family: var(--content-font-family);
    font-size: 2.5vh;
    margin-right: 1vh;
}

.school_Drop{
    display: flex;
    border: 0;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
}

.school_Title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.school_Logo{
    display: flex;
    height: 20vw;
    width: 20vw;
    background-size: contain;
}

.school_Name{
    display: flex;
    font-size: 10vh;
    font-weight: 750;
    width: 50vw;
}

.school_Holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120vh;
}

.school_Ladder{
    align-self: center;
    width: 70vw;
    border: 0.2vh black solid;
    border-collapse: collapse;
}

.school_Ladder_Row{
    width: 70vw;
    border: 0.2vh black solid;
    border-collapse: collapse;
    height: 5vh;
}

.school_Ladder_Cell{
    font-size: 2.5vh;
    min-width: 8vw;
    border: 0.2vh black solid;
    border-collapse: collapse;
    text-align: center;
    height: 5vh;
}

.school_Team{
    display: flex;
    height: 35vh;
    width: 50vw;
    border-radius: 4vh;
    background-color: #e9e9e9;
    font-size: 2vh;
    padding: 2vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
    flex-direction: column;
}

.school_Team_Title{
    font-weight: 550;
    font-size: 3vh;
}

.school_Draw{
    display: flex;
    height: 90vh;
    justify-items: space-evenly;
    flex-direction: column;
}


.school_Draw_Main{
    display: flex;
    margin-bottom: 2vh;
    height: 40vh;
    width: 60vw;
    background-color: #e9e9e9;
    flex-direction: column;
    border-radius: 4vh;
    font-size: 2.5vh;
}

.school_draw_Date{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
    font-size: 2vh;
    margin-top: 1vh;
}

.school_draw_Schools{
    display:flex;
    flex-direction: row;
    margin-bottom: 3vh;
    margin-top: 0.5vh;
    align-self: center;
    width: 50vw;
    justify-content: space-between;
}

.school_draw_School{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vh;
    text-align: center;
}

.school_draw_School_Logo{
    display: flex;
    height: 20vh;
    width: 20vh;
    align-self: center
}

.school_draw_School_Name{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
    font-size: 2.5vh;
    font-weight: 600;
}

.school_draw_Venue{
    display: flex;
    align-self: center;
    font-family: var(--content-font-family);
    font-size: 2vh;
    font-weight: 200;
    margin-bottom: 3vh;
}

.school_draw_Bottom{
    display: flex;
    align-self: center;
    margin-top: 1vh;
    justify-content: space-between;
    width: 20vw;
}

.school_draw_Tip{
    display: flex;
    width: 3vw;
    height: 3vh;
    background-color: black;
    color: white;
    font-family: var(--content-font-family);
    align-items: center;
    justify-content: center;
    transition: color 0.15s;
    font-size: 2vh;
    text-decoration: none;
    font-weight: 200;
}

.school_draw_Tip:hover{
    transition: color 0.15s;
    color: var(--toggle-hover-accent-color);
}

.school_draw_Media{
    display: flex;
    width: 3vw;
    height: 3vh;
    background-color: black;
    color: white;
    font-family: var(--content-font-family);
    align-items: center;
    justify-content: center;
    transition: color 0.15s;
    font-size: 2vh;
    text-decoration: none;
    font-weight: 200;
}

.school_draw_Media:hover{
    transition: color 0.15s;
    color: var(--toggle-hover-accent-color);
}














.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .montserrat-content {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }